
<head>
	<link rel="stylesheet" href="/css.css">
</head>
<body>
	<div>
		<h1><a href="/" class="titleLink">the Mantra</a></h1>
		<h5>mashable+sinatra</h5>
	</div>
	<div>
		<% @categories.each do |category| %>
			<a href="/<%= category %>"><%= category %></a>
		<% end %>
	</div>
</body>

<!-- results?category= -->