
<head>
	<link rel="stylesheet" href="/css.css">
</head>
<body>
	<div>
		<h1><a href="/" class="titleLink">the Mantra</a></h1>
		<h5>mashable+sinatra</h5>
	</div>
	<div>

		<% @hot_stories.each do |title| %>
			<a href="/results?id=<%= title['_id'] %>"><%= title['title'] %></a><br><br>
			
		<% end %>
	</div>
</body>